.typeButton {
    background-color: white;
    color: black;
    border-block-color: black;
    margin: auto;
    height: 2rem;
    width: 9.5rem;
    padding: 0 0 0 0;
}

.dropdown {
    text-align: center;
}

.datePicker {
    border-radius: 0.5rem;
    width: 80%;
    text-align: center;
}

.dateButtons {
    margin-top: 1rem;
    text-align: center;
}