
#firstButton {
   margin-top: 4rem;
}

.diseaseButtonCard {
   margin-top: 1rem;
   border: 2px solid gray;
 }
/*  
 .diseaseButtonCardHeader {
   margin-top: 1rem;
   border: 2px solid gray;
 } */
 
 .arrowAchivement {
   right: 1rem;
   top: 30%;
   font-size: 300%;
 
 }
 
 .diseaseButtonCardHeader {
   text-align: left;
   background-color: white;
   color: gray;
   margin-left: 1.5rem;
   border: none;
 }
 
 .diseaseButtonCardBody {
   display: flex;
   margin-left: 1rem;
 }
 
 .achievementBoxSecondary {
   border: none;
 }