.treeimage {
    max-width: 100%;
    height: auto;
}

.progressbar {
    width: auto;
    height: auto;
}

.GrowingTreeCardMain {
    border: none;
}

.GrowingTreeCardHeader {
    background-color: white;
}

.column{
    float: left;
    width: 33.33%;
}


