.topButtons {
    display: flex;
}

.topButton {
    background-color: white;
    color: black;
    border-block-color: black;
    width:11em;
    text-align:center;
    line-height:1.1em;
    font-size:0.6em;
    position: fixed;
    z-index: 1000;
}

#dropdown-basic {
    left: 10%;
}

#allMeasurements {
    right: 10%;
}

.streakCardMain {
    margin: auto;
    width: 80%;
    margin-top: 3rem;
    /*border-radius: 0.5rem;*/
    border-radius: 0;
}

.streakCardHeader {
    text-align: center;
    background-color: white;
    /*border-radius: 0.25rem 0.25rem 0 0;*/
}

.streakCardWithin {
    width: 50%;
    margin: auto;
    /*border-radius: 0 0 0.25rem 0;*/
    border-radius: 0;
}

.streakCardBody {
    display: flex;
    padding: 0 0 0 0;
}

.card-text {
    text-align: center;
}

.bottomButtons {
    margin-top: 0.5rem;
    text-align: center;
}

.bottomButton {
    background-color: white;
    border-block-color: black;
    color: black;
    width: 80%;
    margin-top: 0.5rem;
}