/* .mainDiv {
  width: 100%;
  z-index: 999;
  background-color: #3f87cf;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  top: 0pt;
  left: 0pt;
  border: 2px solid lightgray;
  margin-top: 1px;
} */

.backbutton {
  min-width: 44px;
}

.navbutton {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color:white
}

/* .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}
 */
/* #logout {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;

}
 */
