.slider {
    position: relative;
    top: 66px;
    text-align: center;
}

.slider-button {
    background-color: white;
    color: grey;
    width: 9.5rem;
    height: 7rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 1rem;
}

.slider-button:hover {
    background-color: white;
    color: grey;
    border-color: grey;
}

.slider-link {
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align: center;
}

.image-holder {
    width: 60%;
    height: 80%;
    margin: auto;
}

.tree-image-slider {
    width: 100%;
    height: 100%;
    margin: auto;
    pointer-events: none;
}