.savedMeasurementBox {
    flex: 1;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.measurementButtons{
    background-color: white;
    color: #585858;
    border: 4px solid #1D76C5;
    font-weight: bold;
    width: 42%;
    height: 6%;
    bottom: 0;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    margin-bottom: 110px; /* Adapt this according to the footer. */
}

pl{
    font-size: 180%; 
}

.savedMeasurementView{
    color:#585858;
    text-align: center;  
}